<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <section class="splash">
    {% if page.image %}
      <img alt="matrimonio francescano" src="{{page.folder}}/{{page.image}}" />
    {% endif %}
    </section>

    <section class="container">

    <div id="gallery">  
      <h1>{{page.title}}</h1>
      <h2>{{page.location}}</h2>

      {{content}}

      <hr>

      <p>
      {% for image in page.gallery %}
      <img class="lazy-load" data-src="{{page.folder}}/{{image}}" src="{{site.lazygif}}" />
      <noscript><img src="{{page.folder}}/{{image}}" /></noscript>
      {% endfor %}
      </p>

    </div>
    </section>

    {% include inquire.html %}

    {% include footer.html %}

    {% include foot.html %}
    
  </body>
</html>
