<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <section class="splash">
      <h2>{{page.statement}}</h2>
      <img alt="matrimonio francescano" src="{{page.image}}" />
    </section>

    <section class="container">

    <h1>{{page.title}}</h1>
    <hr>

      <div class="row">
        <div class="column">
          {{ content }}
        </div>
      </div>
    </section>

    {% include inquire.html %}

    {% include footer.html %}

    {% include foot.html %}
    
  </body>

</html>
